<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado_Liebre</title>
</head>

<body class="bg-light-grey">
    <header class="bg-yellow p-1">
        <h1 class=" w-1">
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        </h1>
        <p class="w-1">Acá va la barra de búsqueda</p>

        <p>Comprá en cuotas <i class="fa-solid fa-hand-holding-dollar"></i></p>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayudas</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mi cuenta</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>
                Basado en tu última visita
            </h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div>
                    <p>$6.770</p>
                    <p>40% off</p>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-mackbook-pro-2019">
                <div>
                    <p>$100.770</p>
                    <p>10% off</p>
                    <h3>Mackbook Pro 2019</h3>
                </div>
            </article>
        </section>
    </main>

</body>

</html>